.services{
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    .textContainer{
        flex:1;
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        align-items: center;
        gap: 20px;

        hr{
            width: 500px;
            bottom: none;
            border-top: 0.5px solid aqua;
        }

        p{
            font-weight: 200;
            font-size: 20px;
            text-align: right;
            color: aqua;
        }
    }
    .titleContainer{
        flex:2;
        display: flex;
        flex-direction: column;
        align-items: center;


         
        .title{
           display: flex;
           gap: 50px;
           align-items: center ;
            img{
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
            }
            h1{
                font-size: 96px;
                font-weight: 100;
                color: #a40b71;
            }
            button{
                width: 300px;
                height: 100px;
                background-color:rgb(136, 134, 6);
                bottom: none;
                font-size: 28px;
                font-weight: 500;
                letter-spacing: 1px;
                border-radius: 50px;
                cursor: pointer;
            }
            button:hover{
                
                transform: scale(1.06);
                animation-duration:3s
            }
        }
    }
    .listContainer{
         flex:2;
         display: flex;
         max-width: 1366px;
         margin: auto;
         margin-bottom: 10px;
         
         .box:hover{
            background-color: whitesmoke;
            color: #a40b71;
            button{
                background-color: #a40b71;
                color: rgb(249, 245, 13);
            }
         }
         .box{
            padding: 50px;
            padding-bottom: 20px;
            border: 0.5px solid gray;
            color: rgb(136, 134, 6);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            button{
                padding: 10px;
                background-color: orange;
                cursor: pointer;
                border: none;
                color:rgb(66, 3, 3);
                font-size: large;
                font-weight: 500;
                letter-spacing: 3px;
                border-radius: 5px;
            }
            button:hover{
                transform: scale(0.9);
                
                
                
            }

            p{
                font-size: 16px;
                font-weight: 500;
            }
            



         }

    }
}