

.hero{
    height: calc(100vh - 100px);
    user-select: none;
    z-index: 9;
    
    
    /*background: linear-gradient(180deg,#0c0c1d,#111132);*/
    overflow: hidden;
    position: relative;
   
  .wrapper{
    max-width: 1366px;
    height: 100%;
    margin:auto;
    .textContainer{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:40px;
        img{
            width: 50px;
            z-index: -1;
            color: transparent;
        }
        h2{
            font-size: 30px ;
            color: rgb(176, 179, 12);
            letter-spacing: 10px;
            
            
        }
        h1{
            font-size: 110px;
            letter-spacing: 10px;
            font-family: 'Black Ops One', system-ui;
            z-index: 999;
            color: burlywood;
            
        }
        h1:hover{
            color: gold;
        }
        
        
        .buttons{
          display: flex;
          gap: 20px;
          
          
          button:hover{
            cursor: pointer;
          }
          button{
                    
            padding:20px;
            background-color: rgb(176, 179, 12);
            border: 2px solid white;
            border-radius: 10px;
            font-size:large;
            font-weight: 500;
              
            
          }
          
        }

    }
  }

  .imageContainer{ 
    
        height: 80%;
        width: 40%;
        position: absolute;       
        right: 0;
        bottom: 0;
        margin-right: -300px;
        margin-bottom: -176px;
        background-image: url(./og_folio/public/myphoto.png);
        object-fit: cover;
        transform: scale(1.5);
        z-index: 1001;
        
        
          
          
    }
  .sliding_text__container{
        position :absolute;
        font-size: 50vh;
        bottom:-135px;
        white-space:nowrap;
        color: rgba(255, 255, 255, 0.226);
        width: 50%;
        font-weight: bold;
        z-index: 988;
    }
}